*{
  text-decoration: none;
}
body {
  background-color:#f2f2f2;
  width: 1536px;
}
#main {
  width: 1500px;
  height: auto;
  
  display: -webkit-flex; /* Safari */
  display: flex;
}
#main a img{
	margin-top: 2px;
	margin-left: 4px;
	border: 1px solid black;
	padding: 2px;
	background: #FFFFFF;
}
.totalbox{
	width: auto;
	display: flex;
}
.box{
	width:1000px;
}
.box1{
	width: auto;
	margin-left: 50px;
}
.box1 a{
	margin-left: 20px;
	font-size: 16px;
}
.body .btn:hover{
  background-color:#F19697;
  width:100%;
  text-align: center;
  margin: 10px 10px 10px 0px;
}
.body .btn a{
  color:white;
}
.body .btn{
  background-color:#644EDF;
  width:100%;
  text-align: center;
  margin: 10px 10px 10px 0px;
  height: 40px;
  border-radius: 10px;
	
}
.body-imagesss img {
  border-radius: 5px;
  white-space:nowrap;
  margin: 10px 10px 10px 0px;
}
.body{
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  text-align: left;
  margin-top: 40px
}
div.scrollmenu {
  background-color:none;
  width:auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color:#644EDF ;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #777;
	color: white;
}
div.scrollmenu img{
	padding-left: 20px;
	height: 20px;
	margin: 0px;
}
.top-header{
  
  height: 100px;
  margin-left: 50px;
  margin-top: 10px;
}
.header a{
  color: white;
}
.header{
  font-family: Arial, Helvetica, sans-serif;
  height: 300px;
  background:url( "../img/style-fashion-blue-background-header.jpg");
  background-size: cover;
  color:white;
	margin-top: 14px;
}
.header-h2{
  margin-left: 50px;
}
.blank{
  height: 50px;
}
.header p{
  margin-left: 50px;
  max-width: 250px;
}
.header-anchor{
  margin:40px;
}
.header-anchor1{
  margin-left: 400px;
}


img {
  border-radius: 5px;
  white-space:nowrap;
  margin: 10px 0px 10px 0px;
}

.item{
  max-width: 400px;
  width: 400px;
  background-color: #f2f2f2;
  margin-right: 42px;
  margin-left:42px
}
.items{
  max-width: 400px;
  width: 400px;
  background-color: #f2f2f2;
  margin-right: 42px;
  margin-left:50px
}
.clothing{
  margin-left: -30px;
}
.item1{
  max-width: 400px;
  width: 400px;
  background-color: #f2f2f2;
  margin-right: 42px;
  margin-left:50px
}
.input-group{
	width: 1300px;
}

.footer{
  display:flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.selectbox select{
	height: 34px;
}
#price{
	height: 40px;
	padding-top: 20px;
}
.back-to-top{
	background: #644EDF;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
}
.back-to-top a{
	color: white;
}

